<footer class="text-white text-center text-lg-start" style="background-color: #23242a;">
    <!-- Grid container -->
    <div class="container-fluid p-4">
        <!--Grid row-->
        <div class="row mt-4">
            <!-- About Column -->
            <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-4">About Application</h5>

                <p>
                    This Clock-In Leave Management System Application was Developed By Ayanda Mthombeni. It was developed using Angular 19 for the front end and Springboot for the Back-end.
                </p>
                <p>
                  The Front-end sends API  request to the back end. And there are multiple API Endpoints including for Authentication and Authorisation when you login which utilizes Spring Security. All other endpoints cannot be accessed unless you have logged in.
                </p>

            </div>

            <!-- Search Section -->
            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
               
            </div>

            <!-- Opening Hours -->
            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                  <ul class="fa-ul ms-3">
                    <li class="mb-3">
                        <span class="fa-li"><i class="fas fa-home"></i></span>Gauteng, South Africa
                    </li>
                    <li class="mb-3">
                        <span class="fa-li"><i class="fas fa-envelope"></i></span> AyandaMthombeni13&#64;gmail.com
                    </li>
                    <li class="mb-3">
                        <span class="fa-li"><i class="fas fa-phone"></i></span>068 176 7792
                    </li>
                    <li class="mb-3">
                        <span class="fa-li"><i class="fas fa-print"></i></span> Junior Software Developer
                    </li>
                </ul>
       
            </div>
        </div>
        <!-- Grid row -->
    </div>

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
       Ayanda Ashley Mthombeni

    </div>
</footer>
